@font-face {
  font-family: 'Kavoon';
  src: url(./fonts/Kavoon-Regular.ttf);
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Global */
body {
  height: 100vh;
  font-family: 'Kavoon';
  background-color: rgb(214,208,179)
}

/* Layout */
.site-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(5, 9rem);
  grid-template-rows: repeat(4, 10rem);
  gap: 0.9rem;
  perspective: 800px;
}

.score-board {
  width: 300px;
}

.start-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-right: 3rem;
}

.game-rules {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  margin-bottom: 2rem;
}

/* Component */

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  border-radius: 5%;
}

.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  border-radius: 5%;
}

.back {
  background-image: url("images/loadingCat.webp");
  background-size: cover;
  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
  pointer-events: none;
}

.game-timer {
  visibility: hidden;
  color: rgb(69,79,67);
}

.game-timer-low {
  color: red;
  animation: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.start-container {
  position: absolute;
  width: 777px;
  height: 500px;
  background-image: url("./images/meme-background.jpg");
  background-size: cover;
  z-index: 1;
  left: 10.5%;
  top: 15%;
  color: white;
}

.start-container-hidden {
  display: none;
  z-index: -1;
}

.heading {
  align-self: center;
  color: #d6d0b3;
}

.paragraph {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
}

.outsmart {
  text-decoration: underline;
}

.form h2 {
  color: rgb(248, 4, 4);
  margin-bottom: 0.5rem;
  font-weight: 200;
}

input {
  height: 35px;
  border-radius: 10px;
  font-family: 'Kavoon';
  padding: 1rem;
}

.start-button {
  height: 35px;
  width: 150px;
  border-radius: 10px;
  font-family: 'Kavoon';
  border: 2px black solid;
}

.start-button:hover {
  background-color: #9ca47f;
}

.end-screen {
  position: absolute;
  visibility: hidden;
  font-size: 5rem;
  left: 25%;
  top: 42%;
  z-index: 2;
}

.end-screen-shown {
  visibility: visible;
  color: white;
}


@media all and (display-mode: fullscreen) {
  .site-container {
    padding-top: 5rem;
  }
  .start-container {
    top:20%
  }
}